a
{
	color:#0032AB;
	font-weight:bold;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
.nav1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	background-color:#D8DFEE;
	display:block;
	padding-top:7px;
	padding-right:2px;
	padding-bottom:7px;
	padding-left:32px;
	border-top:1px solid #EEF8FD;
	border-bottom:1px solid #C0CFE2;
	color:#000000;
	background-image:url(./arrow.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.nav1:hover
{
	color:#ffffff;
	background-color:#6987BC;
	background-image:url(./arrow2.gif);
	background-repeat:no-repeat;
	background-position:left;
	text-decoration:none;
}
.nav1active
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	background-color:#D8DFEE;
	display:block;
	padding-top:7px;
	padding-right:2px;
	padding-bottom:7px;
	padding-left:32px;
	border-top:1px solid #EEF8FD;
	border-bottom:1px solid #C0CFE2;
	color:#000000;
	background-image:url(./arrow.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.nav1active:hover
{
	color:#ffffff;
	background-color:#6987BC;
	background-image:url(./arrow2.gif);
	background-repeat:no-repeat;
	background-position:left;
	text-decoration:none;
}
.nav2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#000000;
	display:block;
	padding-left:32px;
}
.nav2active
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	display:block;
	padding-left:32px;
}
.nav2:hover
{
	color:#000000;
}
p
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
li
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
h1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
.copyright
{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
}
.contentbackground
{
	background-color:#D8DFEE;
}
.leftnavbackground
{
	background-color:#FFFFFF;
}
.bannerbackground
{
	background-color:#FFFFFF;
}
.slogan
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:3px;
	display:block;
}
.content2background
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.topleftbackground
{
	background-color:#FFFFFF;
}
.toptitlebackground
{
	background-color:#6987BC;
	color:#FFFFFF;
}
.topsubtitlebackground
{
	background-color:#D8DFEE;
	border-bottom:1px solid #FFFFFF;
}
.topsubtitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}
.navtitlebackground
{
	background-color:#6987BC;
}
.navtitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
}
.navcontainer
{
	background-color:#D8DFEE;
	border-right:1px solid #C0CFE2;
}
.bottomarea1bg
{
	background-color:#D8DFEE;
	border-top:1px solid #C0CFE2;
	border-right:1px #C0CFE2;
	border-bottom:1px #C0CFE2;
	border-left:1px #C0CFE2;
}
.bottomarea2bg
{
	background-color:#6987BC;
}
.bottomarea2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
}
.footer
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	font-size:12px;
}
.content2bk
{
	border-top:1px dashed #6987BC;
}
.content3bk
{
	border-top:dashed #6987BC 1px;
	border-right:dashed #6987BC 1px;
	border-left:dashed #6987BC 1px;
}
.content4bk
{
	border-top:1px #6987BC dashed;
}
.contentleft
{
	background-color:#D8DFEE;
}
.contentright
{
	border-left:1px #6987BC solid;
	background-color:#6987BC;
}
