<div class="ajax-text-and-image white-popup-block">
	<style>
	.ajax-text-and-image {
		max-width:800px; margin: 20px auto; background: #FFF; padding: 0; line-height: 0;
	}
	.ajcol {
		width: 50%; float:left;
	}
	.ajcol img {
		width: 100%; height: auto;
	}
	.ajcol h1 {
		letter-spacing: 1px;
		font-size: 25px;
		font-weight: 900;
	}
	.ajcol p {
		letter-spacing: 1px;
		font-size: 20px;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
	<div class="ajcol">
		<img src="new_images/Posters/2015-2016/Poster8.png"/>
	</div>
	<div class="ajcol" style="line-height: 1.231;">
		<div style="padding: 1em">
			<h1>Summer Laughin'</h1>
		    <p> On this particularly spontaneous night ShellShock! Improvised Comedy chuck all of our academic knowledge right out of the improvised window in our post-exam debut. We ask you to join us to see if any spark of fun or madness still remains under the heaps of equations, dates and half remembered facts we think we can twist into long enough sentences to make it seem that we know what we’re talking about. </p>
		</div>
	</div>
	<div style="clear:both; line-height: 0;"></div>
</div>